&-nav {
	
	.frame-nav {
		
		&-tabs {

			.nav-item {

				background-color: #fcfcfc;
		
				&:nth-child(1) {
					margin-left: .4rem;
				}

				a {
					position: relative;
					bottom: -1px;
					z-index: 4;
					background: transparent;
					border: 1px solid transparent;
					border-radius: 0;
					color: $media-library-text-color;
					padding: .4rem .6rem;

					&.active {
						border: 1px solid #ddd;
						border-bottom: 1px solid #fcfcfc;
					}
				}

			}

		}

	}

}