&-frame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 160000;
	margin: 1.8rem 1.5rem;
	background: #fcfcfc;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}